 {% extends 'board_frame_page.html' %} {% block center %}
<div class="container-fluid" id="center">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="page-header">
                    <h1>创建或编辑通知</h1>
                </div>
                {{form.title}}
                <hr/> {{form.content}}
                <hr/>
                <div class="row">
                    <div class="col-lg-3">{{form.category_id}}</div>
                    <div class="col-lg-3">{{form.image}}</div>
                    <div class="col-lg-3">
                        <a href="{% url 'board_index' %}">
                            <button type="button" class="btn btn-default form-control">返回</button>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" class="btn btn-success form-control">发布</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
{% endblock%}