<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
    
</head>

<body>
    <table id="t1">
        <thead>
            <tr>
                <td>col_1</td>
                <td>col_2</td>
                <td>col_3</td>
                <td>col_4</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>col_1</td>
                <td>col_2</td>
                <td>col_3</td>
                <td>col_4</td>
            </tr>
            <tr>
                <td>col_1</td>
                <td>col_2</td>
                <td>col_3</td>
                <td>col_4</td>
            </tr>
            <tr>
                <td>col_1</td>
                <td>col_2</td>
                <td>col_3</td>
                <td>col_4</td>
            </tr>
        </tbody>
    </table>

<script src="{% static 'js/myjs.js' %}"></script>
</body>

</html>