{% extends 'wiki_frame_page.html' %}
{% block left %}
<div id="left">

    <h1>{{tutorial.subject}}</h1>
    <!--<a href="{% url 'wiki_post' tutorial.category %}">
            <button type="button" class="btn btn-default btn-sm">编辑教程</button>
        </a>-->
    <a href="{% url 'wiki_post' tutorial.category %}">
        <button type="button" class="btn btn-success btn-sm">新增章节</button>
    </a>
    <hr/>

    <ul id="ul">
        {% for c in chapters %}
        <li class="list-unstyled">
            <a href="{% url 'chapter' tutorial.category c.id %}">{{c.subject}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block right %}
<div id="right">
    <h1>{{ chapter.subject }}</h1>
    <a href="{% url 'wiki_edit' tutorial.category chapter.id %}">
        <button type="button" class="btn btn-success btn-sm">编辑章节</button>
    </a>
    <hr/>
    <div class="content-markdown">{{ chapter.content }}</div>
    <li class="list-unstyled">
        <div class="content-markdown">{{section.content}}</div>
    </li>
</div>
{% endblock %}